langchain
langchain-community
langchain-core
langchain-openai
python-dotenv
openai
duckduckgo-search
typing-extensions
pydantic>=2.7.4,<3.0.0
requests
anyio
httpx
aiohttp
tenacity
pytest
pytest-asyncio
pytest-mock
pytest-cov
responses
aioresponses>=0.7.5
selenium>=4.15.2
beautifulsoup4>=4.12.2
tiktoken>=0.5.2